#!/bin/sh

TIMESTAMP=$(date +%Y-%m-%d-%H-%M-%S)

cd "{{ app_basedir }}"
docker compose exec -T mariadb sh -c "mysqldump --single-transaction lima | gzip > /backup/lima-db-$TIMESTAMP.sql.gz"
docker compose exec -T mariadb sh -c "mysqldump --single-transaction wordpress | gzip > /backup/wordpress-db-$TIMESTAMP.sql.gz"
docker compose exec -T -u root wordpress sh -c "cd /var/www/html && tar -czf /backup/wp-files-$TIMESTAMP.tar.gz ."
docker compose exec -T -u root wordpress sh -c "find /backup -mtime +90 -type f -delete"
