#!/bin/sh

apk add certbot certbot-nginx

if [ ! -d '/etc/letsencrypt/live/{{ domains.wordpress.cname }}' ]; then
  certbot certonly --standalone -n -d {{ domains.wordpress.cname }} -d {{ domains.wordpress.alias }} -d {{ domains.lima }} -m {{ webmaster.mail }} --agree-tos
fi
