#!/bin/sh

TIMESTAMP=$(date +%Y-%m-%d-%H-%M-%S)
MYSQL_AUTH="-u {{ readonly_db_user}} -p{{ readonly_db_password }}"

cd "{{ app_basedir }}"
docker-compose exec -T mariadb sh -c "mysqldump --single-transaction $MYSQL_AUTH lima | gzip > /backup/lima-$TIMESTAMP.sql.gz"
docker-compose exec -T mariadb sh -c "mysqldump --single-transaction $MYSQL_AUTH wordpress | gzip > /backup/wordpress-$TIMESTAMP.sql.gz"
docker-compose exec -T -u root wordpress sh -c "cd /var/www/html & tar -czf /backup/wp-files-$TIMESTAMP.tar.gz ."
