APP_BASE_URL=https://{{domains.lima}}
LOG_LEVEL=debug
MYSQL_HOST=mariadb
MYSQL_DATABASE=lima
MYSQL_USER={{db_users.lima}}
MYSQL_PASSWORD={{db_passwords.lima}}
EMAIL_SENDER_ADDRESS={{email_sender_address}}
EMAIL_SENDER_NAME={{email_sender_name}}
EMAIL_URL={{email_gateway_url}}
REDIS_HOST=redis
JWT_SECRET={{jwt_secret}}
