LOG_LEVEL=notice
MYSQL_HOST=mariadb
MYSQL_DATABASE=lima
MYSQL_USER={{lima_db_user}}
MYSQL_PASSWORD={{lima_db_password}}
EMAIL_SENDER_ADDRESS={{email_sender_address}}
EMAIL_SENDER_NAME={{email_sender_name}}
EMAIL_URL={{email_gateway_url}}
REDIS_HOST=redis
JWT_SECRET={{jwt_secret}}
