APP_BASE_URL=https://{{domains.lima}}
DB_URL=pdo-mysql://{{db_users.lima}}:{{db_passwords.lima}}@mariadb/lima
LOG_LEVEL=notice
EMAIL_SENDER_ADDRESS={{email_sender_address}}
EMAIL_SENDER_NAME={{email_sender_name}}
EMAIL_URL=smtps://{{email_gateway_username}}:{{email_gateway_password}}@{{email_gateway_host}}:{{email_gateway_port}}
REDIS_HOST=redis
JWT_SECRET={{jwt_secret}}
