[Unit]
Description=Backup timer for wordpress

[Timer]
OnCalendar=04:05
Unit=backup-wordpress.service
Persistent=true

[Install]
WantedBy=multi-user.target