version: '3.7'
services:
  ui:
    image: robertkitzing/liga-manager-ui:{{versions.ui}}
    restart: always
    env_file:
      - ./ui.env
  api:
    image: mklocke/liga-manager-api:{{versions.api}}
    restart: always
    volumes:
      - logos:/var/www/logos
    depends_on:
      - mariadb
      - redis
    env_file:
      - ./api.env
  mariadb:
    image: mariadb:{{versions.mariadb}}
    restart: always
    ports:
      - "127.0.0.1:3306:3306"
    volumes:
      - mariadb:/var/lib/mysql
      - ./setup.sql:/docker-entrypoint-initdb.d/setup.sql:ro
      - ./my.cnf:/root/.my.cnf:ro
    environment:
      - MARIADB_ALLOW_EMPTY_ROOT_PASSWORD=1
  nginx:
    image: nginx:{{versions.nginx}}
    restart: always
    ports:
      - "80:80/tcp"
      - "443:443/tcp"
      - "443:443/udp"
    volumes:
      - ./nginx-ssl.conf:/etc/nginx/conf.d/default.conf
      - certs:/etc/letsencrypt
      - wp-files:/var/www/html
      - logos:/var/www/logos:ro
    depends_on:
      - ui
      - api
      - wordpress
  wordpress:
    image: wordpress:{{versions.wordpress}}
    restart: always
    volumes:
      - wp-files:/var/www/html
    env_file:
      - ./wordpress.env
    depends_on:
      - mariadb
  redis:
    image: redis:{{versions.redis}}
    restart: always
    ports:
      - "127.0.0.1:6379:6379"

volumes:
  mariadb:
  wp-files:
  certs:
  logos: