services:
  api:
    image: mklocke/liga-manager-api:{{versions.api}}
    restart: always
    ports:
      - "127.0.0.1:8081:8081"
    volumes:
      - logos:/var/www/logos
    depends_on:
      mariadb:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      - APP_BASE_URL=https://{{domains.lima}}
      - DB_PASSWORD_FILE=/run/secrets/db-password
      - DB_URL=pdo-mysql://{{db_users.lima}}@mariadb/lima
      - EMAIL_PASSWORD_FILE=/run/secrets/email-password
      - EMAIL_SENDER_ADDRESS={{email_sender_address}}
      - EMAIL_SENDER_NAME={{email_sender_name}}
      - EMAIL_URL=smtps://{{email_gateway_username}}@{{email_gateway_host}}:{{email_gateway_port}}
      - JWT_SECRET_FILE=/run/secrets/jwt-secret
      - LOG_LEVEL=info
      - REDIS_HOST=redis
    secrets:
      - source: lima-db-password
        target: db-password
      - source: jwt-secret
        target: jwt-secret
      - source: email-password
        target: email-password
    healthcheck:
      test: [ "CMD", "docker-php-healthcheck", "http", "127.0.0.1", "8080" ]
      start_period: 1m
      start_interval: 5s
      interval: 1m
      timeout: 5s
  mariadb:
    image: mariadb:{{versions.mariadb}}
    restart: always
    ports:
      - "127.0.0.1:3306:3306"
    volumes:
      - mariadb:/var/lib/mysql
    #  - ./setup.sql:/docker-entrypoint-initdb.d/setup.sql:ro
    environment:
      - MARIADB_ROOT_PASSWORD_FILE=/run/secrets/root-password
    secrets:
      - source: root-db-password
        target: root-password
    healthcheck:
      test: [ "CMD", "healthcheck.sh", "--connect", "--innodb_initialized" ]
      start_period: 1m
      start_interval: 5s
      interval: 1m
      timeout: 5s
  nginx:
    build:
      dockerfile_inline: |
        FROM robertkitzing/liga-manager-ui:{{versions.ui}} AS source
        FROM nginx:{{versions.nginx}}
        COPY --from=source /usr/src/app/www /var/www/ui
      pull: true
    restart: always
    ports:
      - "80:80/tcp"
      - "443:443/tcp"
      - "443:443/udp"
      - "127.0.0.1:8082:8082/tcp"
    volumes:
      - ./nginx-ssl.conf:/etc/nginx/conf.d/default.conf:ro
      - certs:/etc/letsencrypt
      - wp-files:/var/www/html
      - logos:/var/www/logos:ro
      - ./appsettings.json:/var/www/ui/appsettings.json:ro
    depends_on:
      api:
        condition: service_healthy
      wordpress:
        condition: service_started
  wordpress:
    image: wordpress:{{versions.wordpress}}
    restart: always
    volumes:
      - wp-files:/var/www/html
      - ./php.ini:/usr/local/etc/php/php.ini:ro
    environment:
      - EMAIL_GATEWAY_HOST={{email_gateway_host}}
      - EMAIL_GATEWAY_PORT={{email_gateway_port}}
      - EMAIL_GATEWAY_USERNAME={{email_gateway_username}}
      - EMAIL_GATEWAY_PASSWORD={{email_gateway_password}}
      - EMAIL_SENDER_ADDRESS={{email_sender_address}}
      - EMAIL_SENDER_NAME={{email_sender_name}}
      - WORDPRESS_DB_HOST=mariadb
      - WORDPRESS_DB_PASSWORD_FILE=/run/secrets/db-password
      - WORDPRESS_DB_USER={{db_users.wordpress}}
    secrets:
      - source: wordpress-db-password
        target: db-password
    depends_on:
      mariadb:
        condition: service_healthy
  redis:
    image: redis:{{versions.redis}}
    restart: always
    ports:
      - "127.0.0.1:6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "PING" ]
      start_period: 1m
      start_interval: 5s
      interval: 1m
      timeout: 5s

secrets:
  email-password:
    file: ./secrets/email-password
  jwt-secret:
    file: ./secrets/jwt-secret
  lima-db-password:
    file: ./secrets/lima-db-password
  root-db-password:
    file: ./secrets/root-db-password
  wordpress-db-password:
    file: ./secrets/wordpress-db-password

volumes:
  mariadb:
  wp-files:
  certs:
  logos: