version: '3'
services:
  ui:
    image: robertkitzing/liga-manager-ui:{{versions.ui}}
    restart: unless-stopped
    env_file:
      - ./ui.env
  api:
    image: mklocke/liga-manager-api:{{versions.api}}
    restart: unless-stopped
    user: www-data
    depends_on:
      - mariadb
      - redis
    env_file:
      - ./api.env
  mariadb:
    image: mariadb:{{versions.mariadb}}
    restart: unless-stopped
    ports:
      - "127.0.0.1:3306:3306"
    volumes:
      - mariadb:/var/lib/mysql
      - /var/backups/docker:/backup
      - ./setup.sql:/docker-entrypoint-initdb.d/setup.sql:ro
    env_file:
      - ./mariadb.env
  nginx:
    image: nginx:{{versions.nginx}}
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt
      - wp-files:/var/www/html
    depends_on:
      - ui
      - api
      - wordpress
  wordpress:
    image: wordpress:{{versions.wordpress}}
    restart: unless-stopped
    volumes:
      - wp-files:/var/www/html
      - /var/backups/docker:/backup
    env_file:
      - ./wordpress.env
    depends_on:
      - mariadb
  redis:
    image: redis:{{versions.redis}}
    restart: unless-stopped
    ports:
      - "127.0.0.1:6379:6379"

volumes:
  mariadb:
  wp-files: