add_header Strict-Transport-Security "max-age=86400" always;
add_header Alt-Svc 'h3=":443"; ma=300';
add_header X-Content-Type-Options "nosniff" always;
client_max_body_size 64M;
gzip on;
gzip_types application/json application/javascript image/png application/font-woff2 image/x-icon text/css application/octet-stream;
http2 on;
limit_req zone=main burst=200 nodelay;
limit_req_zone $binary_remote_addr zone=main:10m rate=5r/s;
limit_req_status 429;
server_tokens off;
ssl_certificate /etc/letsencrypt/live/{{ domains.wordpress.cname }}/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/{{ domains.wordpress.cname }}/privkey.pem;
ssl_ciphers ECDH+AESGCM:ECDH+AES256:ECDH+AES128:DHE+AES128:!ADH:!AECDH:!MD5;
ssl_prefer_server_ciphers on;
ssl_protocols TLSv1.2 TLSv1.3;

upstream api {
    server api:8080 max_fails=0 fail_timeout=30s;
}

upstream wordpress {
    server wordpress:9000 max_fails=0 fail_timeout=30s;
}

server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name _;
    return 301 https://$host$request_uri;
}

server {
    listen 443 quic;
    listen 443 ssl;
    server_name {{ domains.wordpress.cname }} {{ domains.wordpress.alias }};
    root /var/www/html;
    index index.php;

    location /.well-known/acme-challenge {
        alias /var/www/.well-known/acme-challenge;
    }

    location ~ ^/xmlrpc {
        deny all;
    }

    location /.user.ini {
        deny all;
    }

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass wordpress;
        fastcgi_index index.php;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;
    }
}

server {
    listen 443 quic;
    listen 443 ssl;
    server_name {{ domains.lima }};

    location /.well-known/acme-challenge {
        alias /var/www/.well-known/acme-challenge;
    }

    location /429.json {
        internal;
        return 429 '{"errors":[{"code":"ERR-RATE-LIMIT","message":"Exceeded rate limit. Please slow down your requests."}]}';
    }

    location /502.json {
        internal;
        return 502 '{"errors":[{"code":"ERR-INTERNAL","message":"Bad gateway"}]}';
    }

    location /api {
        # Answer preflight request directly (required for Android app)
        if ($request_method = 'OPTIONS') {
            add_header 'Access-Control-Allow-Origin' 'https://localhost';
            add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS, PUT, DELETE';
            add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization';
            add_header 'Access-Control-Expose-Headers' 'Content-Encoding,X-Token';
            add_header 'Access-Control-Max-Age' 60;
            add_header 'Content-Type' 'text/plain; charset=UTF-8';
            add_header 'Content-Length' 0;
            return 204; # No Content response
        }

        # Add the CORS headers to application responses as well (required for Android app)
        add_header 'Access-Control-Allow-Origin' 'https://localhost' always;
        add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS, PUT, DELETE' always;
        add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization' always;
        add_header 'Access-Control-Expose-Headers' 'Content-Encoding,X-Token' always;

        proxy_pass http://api;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header X-Forwarded-Port $server_port;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Proto $scheme;
        error_page 429 /429.json;
        error_page 502 /502.json;
    }

    location / {
        root /var/www/ui;
        try_files $uri /index.html;
    }

    location /imgproxy {
        rewrite /imgproxy/(.*) /$1 break;
        proxy_pass http://imgproxy:8080;
    }

}

server {
    listen 8082;
    location /_status {
        stub_status;
        access_log off;
    }
}