limit_req_zone $binary_remote_addr zone=main:10m rate=5r/s;

server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name {{ domains.lima }};

    gzip on;
    gzip_types application/json application/javascript image/png application/font-woff2 image/x-icon;

    limit_req zone=main burst=200 nodelay;

    client_max_body_size 64M;

    location /ws {
        proxy_pass http://ui:3098/ws;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
    }

    location /api {
        proxy_pass http://api:8080;
    }

    location /logos {
        alias /var/www/logos;
    }

    location / {
        proxy_pass http://ui:3098;
    }
}
