limit_req_zone $binary_remote_addr zone=api:10m rate=5r/s;

server {
     listen 80 default_server;
     listen [::]:80 default_server;
     server_name {{ ssl_domain }};
     return 301 https://$host$request_uri;
}

server {
    listen 443 ssl http2;
    server_name {{ ssl_domain }};
    
    {% include 'conf/nginx.ssl.conf.j2' %}
    {% include 'conf/nginx.gzip.conf.j2' %}

    location /ws {
        proxy_pass http://ui:3098/ws;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
    }

    location /api {
        include fastcgi_params;
        fastcgi_pass api:9000;
        fastcgi_param DOCUMENT_ROOT /var/www/api/public;
        fastcgi_param SCRIPT_NAME index.php;
        fastcgi_param SCRIPT_FILENAME /var/www/api/public/index.php;
        limit_req zone=api burst=200 nodelay;
    }

    location / {
        proxy_pass http://ui:3098;
    }
}
