sources:

  docker_logs:
    type: "docker_logs"
  
  docker_metrics:
    type: "exec"
    command: [ "docker", "stats", "--format", "json", "--no-stream" ]
    decoding:
      codec: "bytes"
    mode: "scheduled"
    scheduled:
      exec_interval_secs: 30

  host_metrics:
    type: "host_metrics"
    scrape_interval_secs: 30
    collectors: [cpu, disk, filesystem, load, host, memory, network]
    filesystem:
      filesystems:
        includes:
          - "ext4"
          - "vfat"
        excludes:
          - "overlay"
          - "nsfs"
          - "binfmt_misc"

  roadrunner_metrics:
    type: prometheus_scrape
    endpoints:
      - http://localhost:8081/_metrics

  nginx_metrics:
    type: nginx_metrics
    endpoints:
      - http://localhost:8082/_status

  php_fpm_metrics:
    type: prometheus_scrape
    endpoints:
      - http://localhost:8083/_status?openmetrics

  ssh_logs:
    type: journald
    include_units:
      - ssh.service

transforms:

  docker_logs_parser:
    type: "remap"
    inputs:
      - "docker_logs"
    source: |
      del(.source_type)
      .dt = del(.timestamp)
      .docker = del(.)
      .dt = del(.docker.dt)
      .message = del(.docker.message)
      .platform = "Docker"
      
      .nginx = parse_regex(.message, r'^\s*(-|(?P<client>\S+))\s+(-|(?P<remote_user>\S+))\s+(-|(?P<user>\S+))\s+\[(?P<timestamp>.+)\]\s+"(?P<request>-\s+-|(?P<method>\w+)\s+(?P<path>\S+)\s+(?P<protocol>\S+))"\s+(?P<status>\d+)\s+(?P<size>\d+)\s+"(-?|(?P<referrer>.+))"\s+"(-?|(?P<agent>.+))"\s*') ??
          parse_regex(.message, r'^\s*(?P<timestamp>.+)\s+\[(?P<severity>\w+)\]\s+(?P<pid>\d+)\#(?P<tid>\d+):\s+\*(?P<cid>\d+)\s+(?P<message>.*)(?:,\s+client:\s+(?P<client>[^,z]+))(?:,\s+server:\s+(?P<server>[^,z]+))(?:,\s+request:\s+"(?P<request>[^"]+)")(?:,\s+subrequest:\s+"(?P<subrequest>[^"]+)")?(?:,\s+upstream:\s+"(?P<upstream>[^"]+)")?(?:,\s+host:\s+"(?P<host>[^"]+)")(?:,\s+referrer:\s+"(?P<referrer>[^"]+)")?\s*') ??
          parse_nginx_log(.message, format: "combined") ??
          parse_nginx_log(.message, format: "error") ??
          {}
      
      if .nginx != {} {
        .service = "Nginx"
        .level = del(.nginx.severity)
        .message = del(.nginx.message)
      
        if is_null(.message) { del(.message) }
        if exists(.nginx.timestamp) {
          .dt = format_timestamp!(
            parse_timestamp(.nginx.timestamp, "%d/%b/%Y:%T %z") ??
              parse_timestamp(.nginx.timestamp, "%Y/%m/%d %T") ??
              .dt,
            "%+"
          )
      
          del(.nginx.timestamp)
        }
      
        if is_string(.nginx.status) { .nginx.status = to_int(.nginx.status) ?? .nginx.status }
        if is_string(.nginx.size) { .nginx.size = to_int(.nginx.size) ?? .nginx.size }
        if is_string(.nginx.cid) { .nginx.cid = to_int(.nginx.cid) ?? .nginx.cid }
        if is_string(.nginx.pid) { .nginx.pid = to_int(.nginx.pid) ?? .nginx.pid }
        if is_string(.nginx.tid) { .nginx.tid = to_int(.nginx.tid) ?? .nginx.tid }
      
        if is_null(.nginx.remote_user) { del(.nginx.remote_user) }
        if is_null(.nginx.user) { del(.nginx.user) }
        if is_null(.nginx.subrequest) { del(.nginx.subrequest) }
        if is_null(.nginx.upstream) { del(.nginx.upstream) }
        if is_null(.nginx.referrer) { del(.nginx.referrer) }
        if is_null(.nginx.agent) { del(.nginx.agent) }
      } else {
        del(.nginx)
      }
      
      .mysql = parse_regex(.message, r'^(?P<dt>\d+-\d+-\d+ \d+:\d+:\d+\s*[+:\d]+)\s*\[(?P<level>\w+)\]\s*(?P<message>.*)') ?? {}

      if .mysql != {} {
        .service = "MariaDB"
        .dt = del(.mysql.dt) 
        .level = del(.mysql.level)
        .message = del(.mysql.message)
        del(.mysql)
      } else {
        del(.mysql)
      }
      
      .redis = parse_regex(.message, r'^(?P<pid>\d+):(?P<role_char>\w)\s+(?P<dt>\d+ \w+ \d+ \d{2}:\d{2}:\d{2}.\d+) (?P<level_symbol>.) (?P<message>.*)') ??
          parse_regex(.message, r'^(?P<pid>\d+):(?P<role>\S+) \((?P<unix_timestamp>\d+)\) (?P<message>.*)') ??
          {}
      
      if .redis != {} {
        .service = "Redis"
        if .redis.role_char == "M" {
          .redis.role = "master"
        } else if .redis.role_char == "S" {
          .redis.role = "slave"
        } else if .redis.role_char == "C" {
          .redis.role = "RDB/AOF writing child"
        } else if .redis.role_char == "X" {
          .redis.role = "sentinel"
        }
      
        if .redis.level_symbol == "." {
          .level = "debug"
        } else if .redis.level_symbol == "-" {
          .level = "verbose"
        } else if .redis.level_symbol == "*" {
          .level = "notice"
        } else if .redis.level_symbol == "#" {
          .level = "warning"
        }
      
        .redis.pid = to_int(.redis.pid) ?? null
      
        if exists(.redis.dt) {
          .dt = format_timestamp!(parse_timestamp(del(.redis.dt), "%d %b %Y %T%.f") ?? now(), "%+")
        } else if exists(.redis.unix_timestamp) {
          .dt = format_timestamp!(from_unix_timestamp(to_int!(del(.redis.unix_timestamp))) ?? now(), "%+")
        }
      
        .message = del(.redis.message)

      } else {
        del(.redis)
      }

      .api = parse_regex(.message, r'^\[(?P<dt>\d+-\d+-\d+ \d+:\d+:\d+\s*[+:\d]+)\]\s*(?P<level>\w+):\s*(?P<message>[^{}]*)\s*(?P<context>\{.*\})?') ?? {}
      if .api != {} {
        .service = "API"
        .dt = del(.api.dt)
        .level = del(.api.level)
        .message = del(.api.message)
        if exists(.api.context) {
          .context = parse_json!(del(.api.context))
        }
        del(.api)
      } else {
        del(.api)
      }

  docker_metrics_parser:
    type: "remap"
    inputs:
      - "docker_metrics"
    source: |
      del(.source_type)
      .dt = del(.timestamp)
      raw_data = .message
      dt = .timestamp
      host = .host
      
      . = []
      data, err = parse_json(strip_ansi_escape_codes(string!(raw_data)))
      if err == null {
        container_id = data.Container
        container_name = data.Name
      
        gauges = {
          "cpu_percentage": to_float(replace(data.CPUPerc, "%", "") ?? "") ?? null,
          "memory_percentage": to_float(replace(data.MemPerc, "%", "") ?? "") ?? null,
          "memory_used_bytes": split(data.MemUsage, " / ")[0] ?? null,
          "memory_limit_bytes": split(data.MemUsage, " / ")[1] ?? null,
          "pids_count": to_int(data.PIDs) ?? null
        }
      
        counters = {
          "block_in_bytes": split(data.BlockIO, " / ")[0] ?? null,
          "block_out_bytes": split(data.BlockIO, " / ")[1] ?? null,
          "network_in_bytes": split(data.NetIO, " / ")[0] ?? null,
          "network_out_bytes": split(data.NetIO, " / ")[1] ?? null
        }
      
        gauges_bytes = map_values(gauges) -> |data| {
          if !is_string(data) {
            data
          } else {
            data = string!(data)
            if !ends_with(data, "B") {
              data
            } else if ends_with(data, "TiB") {
              round(1024 * 1024 * 1024 * 1024 * to_float(replace(data, "TiB", "")) ?? null) ?? null
            } else if ends_with(data, "GiB") {
              round(1024 * 1024 * 1024 * to_float(replace(data, "GiB", "")) ?? null) ?? null
            } else if ends_with(data, "MiB") {
              round(1024 * 1024 * to_float(replace(data, "MiB", "")) ?? null) ?? null
            } else if ends_with(data, "KiB") {
              round(1024 * to_float(replace(data, "KiB", "")) ?? null) ?? null
            } else if ends_with(data, "TB") {
              round(1000 * 1000 * 1000 * 1000 * to_float(replace(data, "TB", "")) ?? null) ?? null
            } else if ends_with(data, "GB") {
              round(1000 * 1000 * 1000 * to_float(replace(data, "GB", "")) ?? null) ?? null
            } else if ends_with(data, "MB") {
              round(1000 * 1000 * to_float(replace(data, "MB", "")) ?? null) ?? null
            } else if ends_with(data, "kB") {
              round(1000 * to_float(replace(data, "kB", "")) ?? null) ?? null
            } else {
              round(to_int(replace(data, "B", "")) ?? null) ?? null
            }
          }
        }
      
        counters_bytes = map_values(counters) -> |data| {
          if !is_string(data) {
            data
          } else {
            data = string!(data)
            if !ends_with(data, "B") {
              data
            } else if ends_with(data, "TiB") {
              round(1024 * 1024 * 1024 * 1024 * to_float(replace(data, "TiB", "")) ?? null) ?? null
            } else if ends_with(data, "GiB") {
              round(1024 * 1024 * 1024 * to_float(replace(data, "GiB", "")) ?? null) ?? null
            } else if ends_with(data, "MiB") {
              round(1024 * 1024 * to_float(replace(data, "MiB", "")) ?? null) ?? null
            } else if ends_with(data, "KiB") {
              round(1024 * to_float(replace(data, "KiB", "")) ?? null) ?? null
            } else if ends_with(data, "TB") {
              round(1000 * 1000 * 1000 * 1000 * to_float(replace(data, "TB", "")) ?? null) ?? null
            } else if ends_with(data, "GB") {
              round(1000 * 1000 * 1000 * to_float(replace(data, "GB", "")) ?? null) ?? null
            } else if ends_with(data, "MB") {
              round(1000 * 1000 * to_float(replace(data, "MB", "")) ?? null) ?? null
            } else if ends_with(data, "kB") {
              round(1000 * to_float(replace(data, "kB", "")) ?? null) ?? null
            } else {
              round(to_int(replace(data, "B", "")) ?? null) ?? null
            }
          }
        }
      
        for_each(gauges_bytes) -> |name, value| {
          . = push(., {
            "name": name,
            "kind": "absolute",
            "gauge": {
              "value": value
            },
            "tags": {
              "host": to_string!(host),
              "container_id": to_string!(container_id),
              "container_name": to_string!(container_name)
            },
            "dt": dt
          })
        }
      
        for_each(counters_bytes) -> |name, value| {
          . = push(., {
            "name": name,
            "kind": "absolute",
            "counter": {
              "value": value
            },
            "tags": {
              "host": to_string!(host),
              "container_id": to_string!(container_id),
              "container_name": to_string!(container_name)
            },
            "dt": dt
          })
        }
      }

  roadrunner_metrics_transform:
    type: "remap"
    inputs:
      - "roadrunner_metrics"
    source: |
      .dt = del(.timestamp)
      string_name = string(.name) ?? ""
      if (ends_with(string_name, "_total") || ends_with(string_name, "_sum") || ends_with(string_name, "_counter")) && is_object(.gauge) {
        .counter.value = del(.gauge.value)
        del(.gauge)
      }

  nginx_metrics_parser:
    type: "remap"
    inputs:
      - "nginx_metrics"
    source: |
      del(.source_type)
      .dt = del(.timestamp)

  php_fpm_metrics_transform:
    type: "remap"
    inputs:
      - "php_fpm_metrics"
    source: |
      .dt = del(.timestamp)
      string_name = string(.name) ?? ""
      if (ends_with(string_name, "_total") || ends_with(string_name, "_sum") || ends_with(string_name, "_counter")) && is_object(.gauge) {
        .counter.value = del(.gauge.value)
        del(.gauge)
      }

  ssh_logs_transform:
    type: "remap"
    inputs:
      - "ssh_logs"
    source: |
      del(.source_type)
      .dt = del(.timestamp)
      .service = "SSH"

sinks:

  better_stack_http_sink:
    type: "http"
    method: "post"
    uri: "https://in.logs.betterstack.com/"
    encoding:
      codec: "json"
    auth:
      strategy: "bearer"
      token: "{{ better_stack_token }}"
    inputs: 
      - "docker_logs_parser"
      - "ssh_logs_transform"
    request:
      headers:
        Connection: "close"

  better_stack_http_metrics_sink:
    type: "http"
    method: "post"
    uri: "https://in.logs.betterstack.com/metrics"
    encoding:
      codec: "json"
    auth:
      strategy: "bearer"
      token: "{{ better_stack_token }}"
    inputs: 
      - "docker_metrics_parser"
      - "host_metrics"
      - "roadrunner_metrics_transform"
      - "nginx_metrics_parser"
      - "php_fpm_metrics_transform"
    request:
      headers:
        Connection: "close"